<div class="anchor" id="downloads"></div>
<div class="jumbotron">
  <div class="container">
    <h3 class="font-weight-bolder">
      {{ i18n "downloads-title" }}
    </h3>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        {{ i18n "downloads-text" | markdownify }}
      </div>
    </div>
  </div>
</div>
