<footer class="pt-3 pb-3 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md">
        &copy; 2019-2020 <span style="font-family: 'Fortheenas01';font-weight:bold;">happy<span style="font-family: 'Fortheenas01 Bold';margin-left:.1em;">DNS</span></span>
      </div>
      <div class="col-md">
        <a href="/{{ .Site.Language.Lang }}/legal-notice/" class="text-secondary">
          {{ i18n "legal-notice" }}
        </a>
      </div>
    </div>
  </div>
</footer>
