<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
  <div class="container">
    <a class="h1 navbar-brand mb-0" href="/">
      <svg version="1.1" viewBox="7 5 76 15" aria-labelledby="title" height="25">
        <title>happyDNS</title>
        <g fill="#000" stroke="#000" stroke-width=".4" aria-label="happy"><path d="m7.1613 5.7392h0.28939v4.2106q2.59-0.96945 3.9791-0.96945 0.77412 0 1.172 0.30386 0.709 0.53537 0.709 2.0257v4.8907h-0.28939v-4.8907q0-1.3457-0.59325-1.7942-0.36174-0.27492-1.0563-0.27492-0.57878 0-1.3746 0.1881-0.88264 0.20981-2.5466 0.83199v5.9397h-0.28939z" /><path d="m21.175 12.721h-2.7781q-1.1214 0-1.6929 0.24598-0.82476 0.36174-0.82476 1.3095 0 0.79582 0.5209 1.2299 0.49196 0.41238 1.3022 0.41238h0.0217q0.83923 0 1.8231-0.60772 0.34003-0.20981 0.83923-0.57878 0.709-0.52813 0.78858-0.57878zm2.496 3.0748q-0.3762 0.44132-1.0852 0.44132-0.67283 0-1.0418-0.39068-0.36897-0.39067-0.36897-1.0635v-0.28215q-1.3674 0.99116-1.6206 1.1431-0.96222 0.56431-1.8304 0.56431h-0.0217q-0.93328 0-1.5048-0.49196-0.60772-0.52813-0.60772-1.4397 0-1.0852 0.90434-1.5265 0.65836-0.31833 1.9027-0.31833h2.7781v-1.0635q0-1.0056-0.29662-1.3529-0.67283-0.78858-2.3875-0.78858-0.78135 0-1.3963 0.29662-0.74518 0.34727-0.94051 1.0129l-0.27492-0.07958q0.22428-0.76688 1.0346-1.172 0.69453-0.34727 1.5772-0.34727 1.8449 0 2.6117 0.88987 0.3545 0.42685 0.3545 1.541v3.4148q0.0072 1.1648 1.1286 1.1648 0.57878 0 0.86817-0.34003z" /><path d="m25.27 14.935q0.98392 1.0129 2.7998 1.0129h0.0217q1.5555 0 2.3875-0.8971 0.82476-0.88264 0.82476-2.4598 0-1.3891-0.61495-2.2862-0.709-1.0346-2.0257-1.0346-1.3746 0-3.3931 0.95498zm0-5.9325v0.90434q1.9606-0.92604 3.3931-0.92604 1.4469 0 2.2355 1.1141 0.69453 0.98392 0.69453 2.496 0 1.7002-0.91157 2.6624-0.92604 0.98392-2.6117 0.98392-1.7291 0-2.7998-0.91157v4.2106h-0.28939v-10.534z" /><path d="m34.241 14.935q0.98392 1.0129 2.7998 1.0129h0.0217q1.5555 0 2.3875-0.8971 0.82476-0.88264 0.82476-2.4598 0-1.3891-0.61495-2.2862-0.709-1.0346-2.0257-1.0346-1.3746 0-3.3931 0.95498zm0-5.9325v0.90434q1.9606-0.92604 3.3931-0.92604 1.4469 0 2.2355 1.1141 0.69453 0.98392 0.69453 2.496 0 1.7002-0.91157 2.6624-0.92604 0.98392-2.6117 0.98392-1.7291 0-2.7998-0.91157v4.2106h-0.28939v-10.534z" /><path d="m49 16.627q-0.1881 1.3891-1.0707 2.1559-0.91157 0.78858-2.4092 0.78858-1.1141-0.0072-2.033-0.42685-1.0635-0.49196-1.4759-1.3963l0.26045-0.12299q0.37621 0.83199 1.3746 1.2733 0.8537 0.38344 1.8738 0.38344 1.3818 0 2.2066-0.709 0.80305-0.6873 0.97669-1.9534 0.05064-0.32556 0.05064-0.88264v-0.49196q-1.7074 0.62942-2.6551 0.83923-0.709 0.15193-1.2588 0.15193-0.80305 0-1.2444-0.3328-0.70177-0.52813-0.70177-2.0257v-4.8762h0.28215v4.8762q0 1.3529 0.59325 1.7942 0.36174 0.27492 1.0563 0.27492 0.57878 0 1.3818-0.1881 0.88264-0.20257 2.5466-0.82476v-5.9325h0.28215v6.6921q0 0.60048-0.03617 0.93328z" /></g>
        <g fill="#000" aria-label="DNS"><path d="m53.38 14.709h1.9389q1.9606 0 2.9662-0.94051 0.98392-0.91157 0.98392-2.6841 0-1.787-0.99116-2.7492-1.0201-0.99116-2.9879-0.99116h-1.91zm1.91-8.9493q2.6262 0 4.1093 1.4397 1.4759 1.4252 1.4759 3.885 0 2.4526-1.4904 3.8416-1.4759 1.3674-4.0948 1.3674h-3.5161v-10.534z" /><path d="m64.145 8.7839v7.5096h-1.5989v-10.534h1.2444l5.9759 7.5024v-7.5024h1.6061v10.534h-1.2371z" /><path d="m76.755 14.745h0.0217q2.4887 0 2.4887-1.4686 0-0.60048-0.63666-0.92604-0.47749-0.24598-2.004-0.56431-1.664-0.34727-2.3802-0.75964-1.324-0.76688-1.324-2.2717 0-1.5772 1.3384-2.4019 1.0346-0.65112 2.5973-0.65112 1.3384 0 2.344 0.50643 1.3167 0.65112 1.7074 2.6262l-1.5772 0.26045q-0.24598-1.1865-0.88987-1.4904-0.65836-0.31109-1.5844-0.31109-1.0707 0-1.7146 0.37621-0.61495 0.36174-0.61495 1.0852 0 0.62219 0.63666 0.95498 0.49196 0.25322 2.004 0.57154 1.6712 0.34727 2.373 0.75241 1.3312 0.74518 1.3312 2.2428 0 3.053-4.1166 3.053-1.1069-0.0072-2.0836-0.3762-1.1359-0.42685-2.2138-1.7942l1.324-0.91157q0.75241 0.96222 1.4831 1.2371 0.70177 0.25322 1.4904 0.26045z" /></g>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="navbar-nav">
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{ range .Children }}
              <a href="{{ .URL }}" class="dropdown-item">{{ .Name }}</a>
            {{ end }}
          </div>
          {{ else }}
        <li class="nav-item">
          <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
          {{ end  }}
        </li>
        {{ end }}
      </ul>
      <div class="d-flex">
        <div class="nav-item nav-ext-links">
        {{ range .Site.Data.social.social_icons }}
          {{- if isset $.Site.Author .id }}
            <a class="nav-icon-link" href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i></span></a>
          {{- end -}}
        {{ end }}
        {{ if .Site.Params.rss }}
          {{ if .RSSLink }}
          <a href="{{ .RSSLink }}" title="RSS" class="nav-icon-link">
          {{ else }}
          <a href="{{ .Site.RSSLink }}" title="RSS" class="nav-icon-link">
          {{ end }}
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {{ end }}
        {{ if .Site.Params.tryit }}
          <a href="{{ .Site.Params.tryit }}" title="{{ i18n "tryhappydns" }}" class="nav-icon-link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {{ end }}
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ .Language }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{ range .Site.Home.AllTranslations }}
            <a href="{{ .Permalink }}" class="dropdown-item">{{ .Language }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
