<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
  window.addEventListener("scroll", function() {
    if (window.scrollY > 100) {
      $("nav.navbar").css("box-shadow", "0 0px 3px 0 #1cb487")
      $("nav.navbar").css("border-bottom", "1px solid #1cb487")
    } else {
      $("nav.navbar").css("box-shadow", "none")
      $("nav.navbar").css("border-bottom", "1px solid #f8f9fa")
    }
  });
  $("nav.navbar").css("box-shadow", "none")
  $("nav.navbar").css("border-bottom", "1px solid #f8f9fa")
</script>
