<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

      {{ partial "nav.html" . }}

      {{ partial "breadcrumbs.html" . }}

      <div id="content" class="mt-5 mb-5" style="min-height: calc(80vh - 180px)">
        {{ if isset .Params "id" }}

        {{ partial .Params.id . }}

        {{ else }}

        <div class="container">

          <div>
            <h2>{{ .Title }}</h2>
            <p>
              This is not the web page you are looking for.
            </p>
          </div>

        </div>
        <!-- /.container -->

        {{ end }}
      </div>
      <!-- /#content -->

    </div>
    <!-- /#all -->

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

  </body>
</html>
