<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" style="background-color: #3A0B4D">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

      {{ partial "top.html" . }}

      {{ partial "nav.html" . }}

      {{ partial "jumbo.html" . }}

      {{ partial "carousel.html" . }}

      {{ partial "features.html" . }}

      {{ partial "downloads.html" . }}

      {{ partial "community.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "survey.html" . }}

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

  </body>
</html>
